@import './utils/variables';
@import './utils/mixins';

@import './base/common';
@import './base/container';

@import './components/button';
@import './components/logo';
@import './components/modal';
@import './components/titles';
@import './components/navigation';
@import './components/bg-about';
@import './components/bg-review';

@import './layouts/mobile-header';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/about';
@import './layouts/menu';
@import './layouts/reviews';
@import './layouts/subscribtion';
@import './layouts/footer';

@import './utils/backdrop';
