:root {
  --brand-color-main: #ffe550;
  --brand-color-additional: #bbf330;
  --background-color-usual: #fefefe;
  --text-color-main: #2c2c2c;
  --button-color-main: #ffe450;
  --button-color-additional: #bbf330;
}
