<section>
  <div class="container container-offer">
    <div class="offer-image">
      <div class="apple-shadow"></div>
      <img class="offer-image-pic" alt="green apple" src="./img/about/applemob.png" />
    </div>

    <h2 class="title-offer">What's Special About Our Offerings</h2>
    <p class="text-offer">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
      elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
      commodo diam libero vitae erat.
    </p>
    <ul>
      <li>
        <h3 class="subtitle-offer subtitle-rocket">Fasest Delivery</h3>
        <p class="subtext-offer">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
        </p>
      </li>
      <li>
        <h3 class="subtitle-offer subtitle-touch">Easy to order</h3>
        <p class="subtext-offer">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
        </p>
      </li>
    </ul>
    <button class="button button--order-light button-offer" type="button">Order now</button>
    <a class="link-offer" href="#"
      >Read more<svg class="" width="14" height="14">
        <use href="./img/icons.svg#icon-cursor"></use></svg
    ></a>
  </div>
</section>
