<section>
    <div class="container">
        <div></div>
        <h2 class="">What's Special About Our Offerings</h2>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse 
            varius enim in eros elementum tristique. Duis cursus, mi quis viverra 
            ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <ul>
            <li>
                <h3 class="">Fasest Delivery</h3>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>
            <li>
                <h3 class="">Easy to order</h3>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>
        </ul>
        <button class="" type="button">Order now</button>
        <a class="" href="#"><svg class="" width="" height=""><use href=""></use></svg>Read More</a>
    </div>
</section>