<footer class="footer section" id="contact">
  <div class="footer-container">
    <div class="footer-container-wrap">
      <div class="footer-navigation">
        <a class="footer-logo" href="#">
          <svg width="69px" height="51px">
            <use href="./img/logo.svg#logo-icon"></use>
          </svg>
        </a>

        <nav class="footer-nav">
          <ul class="navigation__list navigation-list--footer">
            <li class="navigation-list__item--footer">
              <a class="navigation-list__link current-page" href="#">Home</a>
            </li>
            <li class="navigation-list__item--footer">
              <a class="navigation-list__link" href="#">About</a>
            </li>
            <li class="navigation-list__item--footer">
              <a class="navigation-list__link" href="#">Service</a>
            </li>
            <li class="navigation-list__item--footer">
              <a class="navigation-list__link" href="#">Menu</a>
            </li>
            <li class="navigation-list__item--footer">
              <a class="navigation-list__link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="footer-subscribe">
        <p class="footer-subscribe-text">Subscribe</p>
        <form class="footer-subscribe-form">
          <label class="footer-subscribe-label">
            <input
              class="footer-subscribe-input"
              type="email"
              name="post"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              placeholder="Enter your email"
            />
            <p class="term-conditions">
              <svg width="12" height="12">
                <use href="./img/icons.svg#icon-error"></use>
              </svg>
              Not a valid email address (example@email.com)
            </p>
          </label>
          <div class="footer-bth-box">
            <button class="footer-subscribe-bth" type="submit">
              Subscribe
            </button>
          </div>
        </form>
        <p class="footer-subscribe-terms">
          By subscribing you agree to with our&nbsp;
          <a class="footer-subscribe-terms_link" href="#">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer-service">
      <ul class="footer-service-list">
        <li><a class="footer-service-link" href="#">Privacy Policy</a></li>
        <li><a class="footer-service-link" href="#">Terms of Service</a></li>
        <li><a class="footer-service-link" href="#">Cookies Settings</a></li>
      </ul>
      <p class="footer-service-copyright">
        &#169;2022 FoodSta. All right reserved.
      </p>
    </div>
  </div>
</footer>
