<header class="container header-section">
  <a href="#" class="logo__link--header">
    <svg class="logo__svg">
      <use href="./img/logo.svg#logo-icon"></use>
    </svg>
  </a>

  <div class="header-section__box">
    <nav class="navigation-container">
      <ul class="navigation__list">
        <li class="navigation-list__item">
          <a href="#" class="navigation-list__link current-page">Home</a>
        </li>
        <li class="navigation-list__item"><a href="#" class="navigation-list__link">About</a></li>
        <li class="navigation-list__item"><a href="#" class="navigation-list__link">Service</a></li>
        <li class="navigation-list__item"><a href="#" class="navigation-list__link">Menu</a></li>
        <li class="navigation-list__item"><a href="#" class="navigation-list__link">Contact</a></li>
      </ul>
    </nav>
    <button type="button" class="button button--order-color button--header">Order Now</button>
    <!-- mobile-menu button -->
    <button class="menu-mobile js-open-menu" type="button">
      <svg class="menu-mobile__svg">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
