<section class="hero section">
  <div class="bg-container container">
    <div class="hero-container">
      <div class="hero__main">
        <h1 class="hero__title title">
          Enjoy Your Favorite Food From Anywhere
        </h1>
        <p class="hero__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <button type="button" class="hero__button">Order Now</button>
      </div>
      <div class="hero__slider">
        <div class="slider">
          <img
            class="slider__img"
            src="#"
            alt="photo of the dish"
            width="292"
            height="292"
          />
          <div class="slider__arrow slider__arrow-back">
            <svg class="slider__arrow-icon">
              <use href="#"></use>
            </svg>
          </div>
          <div class="slider__arrow slider__arrow-forward">
            <svg class="slider__arrow-icon">
              <use href="#"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="offerings"></div>
  </div>
</section>
