<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Delivery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./sass/index.scss" />
  </head>
  <body>
    <section class="favorites container">
      <div class="favorites__box">
        <h2 class="favorites__tittle">Some of Our Favorites</h2>
        <p class="favorites__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <ul class="favorites__list">
          <li class="favorites__item">
            <a class="favorites__link" href="#">
              <img
                class="favorites__img"
                srcset="
                  ./img/menu-favorites/gamburger-315@1x.jpg 315w,
                  ./img/menu-favorites/gamburger-315@2x.jpg 630w
                  ./img/menu-favorites/gamburger-268@1x.jpg 268w,
                  ./img/menu-favorites/gamburger-268@2x.jpg 536w
                  ./img/menu-favorites/gamburger-224@1x.jpg 224w,
                  ./img/menu-favorites/gamburger-224@2x.jpg 448w
                "
                sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 480px) 224px, 100vw"
                src="./img/menu-favorites/gamburger-224@1x.jpg"
                alt="gamburger"
            /></a>
          </li>
          <li class="favorites__item">
            <a class="favorites__link" href="#"
              ><img
                class="favorites__img"
                srcset="
                  ./img/menu-favorites/pasta-315@1x.jpg 315w,
                  ./img/menu-favorites/pasta-315@2x.jpg 630w
                  ./img/menu-favorites/pasta-268@1x.jpg 268w,
                  ./img/menu-favorites/pasta-268@2x.jpg 536w
                  ./img/menu-favorites/pasta-224@1x.jpg 224w,
                  ./img/menu-favorites/pasta-224@2x.jpg 448w
                "
                sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 480px) 224px, 100vw"
                src="./img/menu-favorites/pasta-224@1x.jpg"
                alt="pasta"
            /></a>
          </li>
          <li class="favorites__item">
            <a class="favorites__link" href="#"
              ><img
                class="favorites__img"
                srcset="
                  ./img/menu-favorites/pizza-315@1x.jpg 315w,
                  ./img/menu-favorites/pizza-315@2x.jpg 630w
                  ./img/menu-favorites/pizza-268@1x.jpg 268w,
                  ./img/menu-favorites/pizza-268@2x.jpg 536w
                  ./img/menu-favorites/pizza-224@1x.jpg 224w,
                  ./img/menu-favorites/pizza-224@2x.jpg 448w
                "
                sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 480px) 224px, 100vw"
                src="./img/menu-favorites/pizza-224@1x.jpg"
                alt="pizza"
            /></a>
          </li>
          <li class="favorites__item hiden">
            <a class="favorites__link" href="#"
              ><img
                class="favorites__img"
                srcset="
                  ./img/menu-favorites/chicken-315@1x.jpg 315w,
                  ./img/menu-favorites/chicken-315@2x.jpg 630w
                  ./img/menu-favorites/chicken-268@1x.jpg 268w,
                  ./img/menu-favorites/chicken-268@2x.jpg 536w
                "
                sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 480px) 224px, 100vw"
                src="./img/menu-favorites/chicken-268@1x.jpg"
                alt="chicken"
            /></a>
          </li>
          <li class="favorites__item hiden">
            <a class="favorites__link" href="#"
              ><img
                class="favorites__img"
                srcset="
                  ./img/menu-favorites/salat-315@1x.jpg 315w,
                  ./img/menu-favorites/salat-315@2x.jpg 630w
                  ./img/menu-favorites/salat-268@1x.jpg 268w,
                  ./img/menu-favorites/salat-268@2x.jpg 536w
                "
                sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 480px) 224px, 100vw"
                src="./img/menu-favorites/salat-268@1x.jpg"
                alt="salat"
            /></a>
          </li>
          <li class="favorites__item hiden">
            <a class="favorites__link" href="#"
              ><img
                class="favorites__img"
                srcset="
                  ./img/menu-favorites/borsh-315@1x.jpg 315w,
                  ./img/menu-favorites/borsh-315@2x.jpg 630w
                  ./img/menu-favorites/borsh-268@1x.jpg 268w,
                  ./img/menu-favorites/borsh-268@2x.jpg 536w
                "
                sizes="(min-width: 1200px) 315px, (min-width: 768px) 268px, (min-width: 480px) 224px, 100vw"
                src="./img/menu-favorites/borsh-268@1x.jpg"
                alt="borsh"
            /></a>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
