<section class="favorites">
  <div class="favorites__box">
    <h1 class="favorites__tittle">Some of Our Favorites</h1>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <img
            class="favorites__img"
            src="./images/favorites/gamburger.jpg"
            alt=""
        /></a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href=""
          ><img
            class="favorites__img"
            src="./images/favorites/pasta.jpg"
            alt=""
        /></a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href=""
          ><img
            class="favorites__img"
            src="./images/favorites/pizza.jpg"
            alt=""
        /></a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href=""
          ><img
            class="favorites__img"
            src="./images/favorites/chicken.jpg"
            alt=""
        /></a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href=""
          ><img
            class="favorites__img"
            src="./images/favorites/salat.jpg"
            alt=""
        /></a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href=""
          ><img
            class="favorites__img"
            src="./images/favorites/borshch.jpg"
            alt=""
        /></a>
      </li>
    </ul>
  </div>
</section>
