<div class="mobile-container js-menu-container" id="mobile-menu">
  <button class="js-close-menu mobile-container__btn">
    <svg class="mobile-close mobile-close--header" width="30" height="30">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu__list">
    <li class="mobile-menu__item current-page--mobile">
      <a class="mobile-menu__link" href="home">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="about">About</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="service">Service</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="menu">Menu</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="contact">Contact</a>
    </li>
  </ul>
</div>
