<section class="review-section">
  <div class="review-container container">
    <h2 class="review-container__title title">What our Customers Say</h2>
    <p class="review-container__text text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="review-list">
      <li class="review-item">
        <svg width="100" height="16" class="review-item__icon">
          <use href="./img/icons.svg#stars"></use>
        </svg>
        <p class="review-item__text text">
          “The Best app I have used to order food in a while, so many options to choose from too, I
          would recommend to a freind, No questions asked”
        </p>
        <div class="personal-data">
          <img src="./img/reviewer/man.png" alt="Some Dude" width="48" />
          <div class="personal-data__info">
            <h3 class="personal-data__title title">Sumith Shah</h3>
            <p class="personal-data__text text">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="review-item">
        <svg width="100" height="16" class="review-item__icon">
          <use href="./img/icons.svg#stars"></use>
        </svg>
        <p class="review-item__text text">
          “The ease with which I can just go in and order what i want was amazing, It has been a
          very pleasant experience ordering from this app”
        </p>
        <div class="personal-data">
          <img src="../img/reviewer/woman.png" alt="Some Dude" width="48" />
          <div class="personal-data__info">
            <h3 class="personal-data__title title">Sumith Shah</h3>
            <p class="personal-data__text text">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
