<section>
  <div class="container subscribe-container">
    <img
      srcset="
        ../img/subscription/banan-320-@1x.png  140w,
        ../img/subscription/banan-768-@1x.png  768w,
        ../img/subscription/banan-1280-@1x.png 608w
      "
      sizes="(min-width: 320px) 140px, (min-width: 768px) 240px, (min-width: 1280px) 468px, 100vw"
      class="subscribe-container__img"
      src="#"
      alt="bananas"
    />
    <h2 class="subscribe-container__title title">
      Subscribe To Get Special Offers
    </h2>
    <p class="subscribe-container__text text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form name="subscribe" class="subscribe-form">
      <label for="mail" class="subscribe-label">
        <input
          class="subscribe-label__input"
          type="email"
          name="mail"
          id="mail"
          placeholder="Enter your email"
        />
      </label>
      <button type="submit" class="button--subscribe-color subscribe-btn">
        Subscribe
      </button>
    </form>
  </div>
</section>
