.modal {
  position: absolute;
  padding: 32px 20px;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 320px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffe550;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;

  transition-duration: 250ms;

  @include tablet {
    max-width: 458px;
  }
}

.modal-bth-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .modal-close-svg,
  &:focus .modal-close-svg {
    fill: #7eb101;
  }
}

.modal-close-svg {
  fill: #2c2c2c;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_text {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #2c2c2c;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #2c2c2c;
}

.modal-label:not(:last-of-type) {
  margin-bottom: 24px;
}

.modal-label_wrapper {
  margin-left: 12px;
}

.modal-input {
  width: 280px;
  height: 48px;

  background: #ffffff;
  border: 1px solid rgba(18, 18, 18, 0.12);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding-left: 12px;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--button-color-additional);
  }

  &:valid:focus {
    border-color: var(--button-color-additional);
  }

  &:invalid:required:focus {
    border-color: #ff705d;
  }

  @include tablet {
    width: 394px;
  }
}

.modal-term-conditions {
  display: flex;
  align-items: center;
  opacity: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  gap: 4px;
  width: 232px;
  margin-top: 5px;
  margin-left: 14px;

  @include tablet {
    margin-top: 19px;
  }
}

.modal-input:invalid:required:focus + .modal-term-conditions {
  opacity: 1;
  color: #ff705d;
}

.modal-bth-checkbox-box {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

.modal-bth-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 38px;
  background-color: #ffffff;
  border-radius: 30px;
  border: 2px solid #7eb101;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  outline: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: #bbf330;
  }
}
