.title {
    font-size: 28px;
    line-height: 118%;
    
    color: var(--text-color-main);

        @include tablet {            
            font-size: 42px;
            line-height: 120%;
        }

        @include desktop {            
            font-size: 48px;                }
}

.text {
    font-size: 14px;
    line-height: 150%;
    color: var(--text-color-main);

    @include tablet {            
            font-size: 16px;            
        }
}