
.title-offer{
    color: var(--text-color-main);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
}

.text-offer{
    color:var(--text-color-main);
    font-size: 14px;
    line-height: 1.17;
}

.subtitle-offer{
    color:var(--text-color-main);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
}

.subtext-offer{
    color:var(--text-color-main);
    font-size: 14;
    line-height: 1.17;
}

.link-offer{
    text-decoration: none;
    color:var(--text-color-main);
    font-size: 13.67px;
    line-height: 1.5;
}


