.footer {
  padding-bottom: 60px;
  background-image: url(../../../img/);

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.footer-navigation {
  display: flex;
  justify-content: space-between;

  @include tablet {
    justify-content: flex-start;
    align-items: center;
  }

  & > * {
    flex: 1;

    @include tablet {
      justify-content: flex-start;
      flex: initial;
    }
  }

  .footer-menu-items {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      gap: 28px;
    }
  }
}

.footer-menu-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
}

.footer-menu-list:not(:last-child) {
  margin-bottom: 20px;
}

.footer-subscribe {
  margin-bottom: 60px;
}

.footer-subscribe-text {
  margin-top: 40px;
  margin-bottom: 12px;

  @include tablet {
    margin-left: 2px;
  }
}

.footer-subscribe-form {
  text-align: end;

  @include tablet {
    flex-direction: row;
    text-align: start;
  }
}

.footer-subscribe-input {
  width: 279px;
  height: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  padding-left: 13px;
  background: #ffffff;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  margin-bottom: 20px;
  outline: none;

  @include tablet {
    margin-right: 13px;
    margin-bottom: 12px;
  }
}

.footer-subscribe-bth {
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  background: #ffffff;
  border: 0.854167px solid #7eb101;
  border-radius: 30px;
  width: 103px;
  height: 42px;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
}

.footer-subscribe-terms {
  text-align: start;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #2c2c2c;
}

.footer-subscribe-terms_link {
  color: #7eb101;
  text-decoration-line: underline;
}

.footer-service {
  @include tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-service-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @include tablet {
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 0;
  }
}

.footer-service-link {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: #7eb101;
}

.footer-service-copyright {
  display: flex;
  justify-content: center;
}
.footer-service-copyright_text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #2c2c2c;
}

.footer-logo {
  display: flex;

  @include tablet {
    margin-right: 114px;
  }

  @include desktop {
    margin-right: 148px;
  }
}
