.header-section {
  display: flex;
  justify-content: space-between;

  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header-section__box {
  display: none;
  display: flex;
  align-items: center;
}

.navigation-section {
  display: flex;
}

.header-section__box {
  display: flex;
  justify-content: flex-end;
}

.current-page {
  font-weight: 500;
  text-decoration: underline;
  color: var(--brand-color-additional);
}

.button--header {
  display: none;

  @include tablet {
    display: flex;
    height: 32px;
    padding: 6px 18px 6px 18px;
  }
}

.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  border: none;

  background-color: transparent;

  @include tablet {
    display: none;
  }
}

.menu-mobile__svg {
  fill: #7eb101;
  width: 28px;
  height: 28px;
}

.mobile-container {
  min-width: 130px;
}

.mobile-close {
  width: 24px;
  height: 24px;
}
