.section {
    padding-top: 60px;
    background-color: #fefefe;
    
        
    @include desktop {
        padding-top: 14px;
        }
}

.hero-container {
    display: flex;
    padding-bottom: 50px;
    margin-bottom: 41px;
    

    @include tablet {        
        padding-bottom: 73px;
        margin-bottom: 42px;
    }
}

.hero__main {
    display: flex;
    flex-direction: column;     
}

.hero__title {

    @include tablet {
        width: 537px;       
    }

    @include desktop {
        margin-top: 145px;
    }
}

.hero__text {
    width: 266px;
    height: 105px;
    margin-top: 20px;
    margin-bottom: 20px;    

    @include tablet {
        width: 336px;
        height: 120px;        
        margin-top: 44px;
        margin-bottom: 40px;
    }

    @include desktop {
        width: 502px;
        height: 69px;
        margin-top: 28px;
    }
}

.hero__button {
    width: 98px;
    height: 32px;
    border-radius: 30px;
    border:transparent;

    font-weight: 500;
    font-size: 13px;
    line-height: 150%;   
        
    color: var(--text-color-main);
    background-color: var(--brand-color-additional);

        &:hover,
        &:focus {
            background-color: var(--button-color-main);
        }
}

.hero__slider {
    display: none;

    @include tablet {
        display: flex;
        align-items: center;
        position: absolute;    
        right: 32px;
        top: 149px;
    }
    
    @include desktop {
        top: 26px;
    }
}

.slider__img {        
    width: 320px;
    background-color: #FFFFFF;     
    
    border: 14px solid #FFE550;
    border-radius: 50%;

    @include desktop {
        width: 528px;
        border-width: 26px;
    }
    
}

.slider__arrow {
    position: absolute;
    top: 46%;
    width: 34px;
    height: 28px;

    border-radius: 4px;
    background-color: #FFFFFF;

    @include desktop {
        width: 48px;
        height: 40px;
    }
}

.slider__arrow-back {
    left: -8px;
}

.slider__arrow-forward {
    right: -8px;
}


.slider__arrow-icon {
    width: 34px;
    height: 28px;
}