.favorites__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorites__tittle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 20px;

  color: #2c2c2c;
}

.favorites__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 60px;

  color: #2c2c2c;

  @include desktop {
    margin-bottom: 40px;
  }
}

.favorites__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @include tablet {
    gap: 32px;
  }
}

.favorites__item {
  flex-basis: calc((100% - 0 * 20px) / 1);

  @include tablet {
    flex-basis: calc((100% - 1 * 32px) / 2);
  }

  @include desktop {
    flex-basis: calc((100% - 2 * 32px) / 3);
  }
}

.favorites__item.hiden {
  display: none;

  @include tablet {
    display: block;
  }
}
