.favorites__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorites__tittle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;

  color: #2c2c2c;
}

.favorites__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #2c2c2c;
}

.favorites__img {
  width: 280px;
  height: 282px;
}

.favorites__list {
  list-style-type: none;
}
