.favorites {
  padding-top: 100px;
  padding-bottom: 100px;
}

.favorites__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title--favorites {
  margin-bottom: 20px;
}

.favorites__text {
  line-height: 1.17;
  text-align: center;
  margin-bottom: 60px;

  color: #2c2c2c;

  @include desktop {
    margin-bottom: 40px;
  }
}

.favorites__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    gap: 32px;
  }
}

.favorites__item {
  display: flex;
  width: 100%;

  @include tablet {
    flex-basis: calc((100% - 1 * 32px) / 2);
  }

  @include desktop {
    flex-basis: calc((100% - 2 * 32px) / 3);
  }
}

.favorites__item.hiden {
  display: none;

  @include tablet {
    display: flex;
  }
}

.favorites__link {
  display: block;
  padding: 29px 28px;
  border: 14px solid var(--brand-color-main);
  border-radius: 50%;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 14px solid var(--brand-color-additional);
  }

  @include tablet {
    padding: 35px 34px;
  }

  @include desktop {
    padding: 41px 40px;
  }
}

.favorites__link img {
  width: 100%;
  transform-origin: center;
  display: block;
  animation: spin 1.5s ease-out;
  transition: transform 0.5s;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.3);
  }
}

@keyframes spin {
  from {
    transform: rotate(1800deg) scale(0);
  }

  to {
    transform: rotate(0) scale(1);
  }
}
