.subscribtion-section {
  width: 100%;
  margin: auto;
}

.subscribe-container {
  max-width: 1280px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 60px;
  margin: auto;
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 40px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 78px;
    background-image: url(../img/subcription/banan-320-@1x.png);

    @include retina {
      background-image: url(../img/subcription/banan-320-@2x.png);
    }

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0;
  }
  .subscribe-form {
    text-align: end;
    .subscribe-label {
      position: relative;
      &__input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ffe550;
        border-radius: 30px;
        // margin-bottom: 20px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #505050;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
          border-color: var(--button-color-additional);

          &:valid:focus {
            border-color: var(--button-color-additional);
          }

          &:invalid:required:focus {
            border-color: #ff705d;
          }
        }
      }
      .error {
        display: flex;
        gap: 4px;
        opacity: 0;
        transition-property: opasity;
        position: absolute;
        width: 232px;
        font-size: 10px;
        line-height: calc(15 / 10);
        margin-top: 4px;
      }
      .subscribe-label__input:invalid:required:focus + .error {
        opacity: 1;
        color: #ff705d;
      }
    }
    .button--subscribe-color {
      &.subscribe-btn {
        padding: 12px 22px;
        border-radius: 30px;
        max-width: 103px;
        margin-top: 20px;
      }
    }
  }
}

@include tablet {
  .subscribe-container {
    padding-top: 82px;
    &::before {
      content: '';
      position: absolute;
      width: 242px;
      height: 136px;
      left: 80%;
      top: -3%;
      background-image: url(../img/subcription/banan-768-@1x.png);
      @include retina {
        background-image: url(../img/subcription/banan-768-@2x.png);
      }
    }
    .subscribe-form {
      text-align: start;
      .subscribe-label {
        &__input {
          max-width: 394px;
          margin-right: 22px;
        }
      }
    }
  }
  .subscribe-label__input:invalid:required:focus + .error {
    opacity: 1;
    color: #ff705d;
  }
}

@include desktop {
  .subscribe-container {
    padding-top: 0;
    padding-bottom: 100px;
    &__title {
      font-size: 42px;
      line-height: calc(50 / 42);
    }
    &__text {
      max-width: 656px;
    }
    &::before {
      content: '';
      position: absolute;
      width: 680px;
      height: 260px;
      left: 80%;
      top: 25%;
      background-image: url(../img/subcription/banan-1280-@1x.png);

      @include retina {
        background-image: url(../img/subcription/banan-1280-@2x.png);
      }
    }
  }
  .subscribe-label {
    &__input {
      margin-right: 32px;
    }
  }
}
